<p>Hello <%= @resource.email %>!</p>


<% frontend_url = ENV['FRONTEND_URL'] %>
<% Rails.logger.debug("frontend_url: #{frontend_url}") %>

<p>Someone has requested a link to change your password for awareshare website.
You can do this through the link below.</p>

<a href="<%= "#{frontend_url}/reset-password?reset_password_token=#{@token}" %>">Change my awareshare site password</a>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

Regards,
Awareshare Team
